body {
  font-size: 16px;
  font-family: roboto;
  background-color: #f5f5f5;
}

img {
  cursor: pointer;
  width: clamp(80px, 20vw, 180px);
}

p {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  font-size: 1.5rem;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: clamp(1rem, 5vw, 5rem);
  margin-top: 5rem;
  justify-content: center;
}

.selected {
  outline: 10px solid rgb(0, 0, 0);
  outline-offset: -10px;
}

.matched {
  outline: 10px solid rgb(47, 216, 89);
  animation: blink-fade 2.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
  opacity: 1;
}

@keyframes blink-fade {
  0%,
  20%,
  40% {
    opacity: 1;
  }
  10%,
  30%,
  49% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Apply the animation to the element */

/* * 
See all the boxes
{
  outline: 1px solid red !important;
} */
